<div class="ov-widget-s">
	<section>
		<table class="table-responsive table">
		    <thead>
			    <th>BPC ID</th>
			    <th>Name</th>
			    <th>Enable</th>
		    </thead>
		    <!-- <tbody ui-sortable="$ctrl.sortUserWidget"  ng-model="$ctrl.widgetUserList">
			    <tr ng-repeat="widget in $ctrl.widgetUserList">
					<td>{{widget.widgetID}}</td>
					<td>{{widget.filename}}</td>
					<td><toggle ng-model="widget.enable" ng-change="$ctrl.toggleWidget(widget.widgetID)" class="quick" onstyle="btn-success"></toggle></td>
				</tr>
		    </tbody> -->
		</table>
 	</section>
 	<!--div ivh-treeview="$ctrl.bag" >
	</div-->
</div>
